@utility text-display-lg {
	font-size: 4rem;
	line-height: 4.5rem;
	font-weight: 600;
	letter-spacing: -0.02em;
}

@utility text-display-md {
	font-size: 3.5rem;
	line-height: 4rem;
	font-weight: 600;
	letter-spacing: -0.02em;
}

@utility text-heading-xl {
	font-size: 3rem;
	line-height: 3.5rem;
	font-weight: 600;
	letter-spacing: -0.02em;
}

@utility text-heading-lg {
	font-size: 2.5rem;
	line-height: 3rem;
	font-weight: 600;
}

@utility text-heading-md {
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: 600;
}

@utility text-heading-sm {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 600;
}

@utility text-title-md {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
}

@utility text-body-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 400;
}

@utility text-body-md {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
}

@utility text-body-sm {
	font-size: 0.875rem;
	line-height: 1.375rem;
	font-weight: 400;
}

@utility text-label-md {
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
}

@utility text-label-sm {
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 500;
}

@utility text-caption {
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 400;
}
